{
  "extends": [
    "plugin:astro/recommended",
    "plugin:svelte/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    },
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".svelte"]
      }
    }
  ],
  "ignorePatterns": [
    "*.mjs",
    "*.js"
  ],
  "rules": {
    "@typescript-eslint/triple-slash-reference": "off"
  }
}
