---
import Layout from '~/layouts/Layout.astro'
import questions from '~/mock-data/questions.json'
import { spawnRounds } from '~/utils/spawn-rounds'
import Rounds from '~/components/Rounds.svelte'

const rounds = spawnRounds(questions, 5)
---

<Layout title="Quizzard - Play">
  <main>
    <Rounds client:only="svelte" rounds={rounds} />
  </main>
</Layout>

<style>
  main {
    height: 100%;
  }
</style>
