---
import Layout from '~/layouts/Layout.astro'
import questions from '~/mock-data/questions.json'
import { spawnRounds } from '~/utils/spawn-rounds'

const rounds = spawnRounds(questions, 5)
---

<Layout title="Quizzard - Play">
  <main>
    <ol>
      {
        rounds.map((round, i) => (
          <li>
            <h2>Round {i + 1}</h2>
            <ol>
              {round.map((question) => (
                <li>{question.category}</li>
              ))}
            </ol>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
