---
import Layout from '~/layouts/Layout.astro'
import Button from '~/components/Button.astro'
---

<Layout title="Quizzard">
  <main>
    <article>
      <h1>Quizzard</h1>
      <section>
        <p>...Yo dood...</p>
        <p>...ya wanna...</p>
      </section>
      <section>
        <a href="/play">
          <Button>
            <p>play?</p>
          </Button>
        </a>
        <a href="/dang">
          <Button variant="secondary">
            <p>nah brah</p>
          </Button>
        </a>
      </section>
    </article>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    font-size: 2rem;
  }

  article,
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    padding-bottom: 1rem;
  }

  p:not(:last-child),
  a:not(:last-child) {
    padding-bottom: 0.5rem;
  }

  h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--theme-primary);
  }

  a {
    width: 100%;
  }
</style>
