---
interface Props {
  variant?: 'primary' | 'secondary'
}

const { variant = 'primary' } = Astro.props
---

<button class={variant}>
  <slot />
</button>

<style>
  button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--theme-primary);
    padding: 0.4rem 1rem;
    border: solid 1px var(--theme-primary);
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    color: var(--theme-white);
  }

  button:hover {
    opacity: 80%;
  }

  .secondary {
    background-color: var(--theme-white);
    color: var(--theme-black);
    border: solid 1px var(--theme-primary);
  }
</style>
