---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
  :root {
    --theme-black: #010b14;
    --theme-white: #fdfffcff;
    --theme-primary: #ff0022ff;
    --theme-secondary: #41ead4ff;
    --theme-tertiary: #b91372ff;
  }

  * {
    margin: 0;
  }
  html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    background: var(--theme-black);
  }
</style>
